@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Satisfy&family=Sevillana&family=Ubuntu&family=Urbanist&display=swap');
.bottom{
    background-color: #10A19D;
}
.contact-me{
    font-family: 'Merriweather', serif;
    font-weight: 550;
    text-align: center;
    color: #EEEEEE;
    background-color: #10A19D;
}
.contact-me-btn{
    border: 1px solid;
    box-shadow: inset;
    border-radius: 8px;
    padding: 8px 12px;
    text-decoration: none;
    color: #EEEEEE;
}
.contact-me-btn:hover{
    background-color: #EFEFEF;
    color: #EEEEEE;
}
.contact-me-h2{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.contact-me-h3{
    font-size: 20px;
    font-family: 'Merriweather', serif;
    padding: 20px 0;
}
.copyright{
    font-size: 12px;
    margin-top: 20px;
}
.navbar{
    background-color: #10A19D;
    padding:0 20px 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.navbar-brand{
    font-size: 32px;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
}
.nav-item{
    font-size: 18px;
}
.top1{
    font-family: 'Ubuntu', sans-serif;
    color: #10A19D;
}
.top1-1-heading{
    font-family: 'Satisfy', cursive;
    padding-bottom: 40px;
    padding-left: 40px;
    font-size: 60px;
}
.top1-2-items{
    width: 90%;
    font-size: 20px;
}
.top1-2-link{
    color: #10A19D;
    text-decoration: none;
}
.top1-2-link :hover{
    color: #055762e9;
    text-decoration: none;
}
.top1-2-link-second{
    color: #EEEEEE;
    text-decoration: none;
}
.top1-2-link-second :hover{
    color: #1898a6;
    text-decoration: none;
}
.top1-2-list{
    line-height: 2;
}
.wrap{
    padding: 40px 80px;
    display: block;
}
